
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 2rem;
  z-index: 100;
  position: relative;
}

.navbar .hamburger {
  height: 40px;
  width: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(src/assets/burger.svg);
}

.navbar.active .hamburger {
  background-image: url(src/assets/burger-closed.svg);
}

.navbar .menu-items {
  transform: translateY(-150%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-color: rgba(255,255,255,0.7);
  padding-top: 200px;
}
.navbar .menu-items > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  gap: 1rem;
}
.navbar .menu-items a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 2.4rem;
    font-family: Mynerve, cursive;
    text-align: center;
}

.navbar .menu-items a:hover{
    color:#668972;
}

.navbar.active .menu-items {
  transform: translateX(0);
}
