@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

.react-photo-album--photo {
    border-radius: 8px;
    margin:0 !important;
    object-fit: cover;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.1s linear;
}
.react-photo-album--photo:hover {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}

.thumb-wrapper {
    margin-bottom: 1rem;
}

.video-iframe {
    width: 100%;
    min-width: 300px;
    aspect-ratio: 16/9;
}
.video-iframe.long {
    width: auto;
    height: 100%;
    max-height: 800px;
}

.media-extra-content {
    margin: 0rem 0.2rem;
    font-size: 0.9rem;
}
.video-thumb {
    position: relative;
}

.video-thumb:after {
    display: block;
    content: ' ';
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 23px);
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    opacity: 80%;
    border-radius: 50%;
    background-image: url("/play-icon.svg");
    background-position-x: 4px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 6px solid #ffffff;
    pointer-events: none;
}

.yarl__icon * {
    color: #fff;
}
